# Week 2 Part 1 Assignments

1. Understand number and answer the following question.
  1. Assign to 10 and 2 on two variables 'a' and 'b' and perform addition, subtraction, multiplication, division and modulo operation. You should properly print answer during each operation.

In [1]:
# 1.1 Type your answer here.
a=10
b=2
add=a+b
print('sum=',add)
sub=a-b
print('difference=',sub)
mult=a*b 
print('product=',mult)
div=a/b
print('quotient=',div)   
mod=a%b
print('remainder=',mod)

sum= 12
difference= 8
product= 20
quotient= 5.0
remainder= 0

2. Write different rules for naming a variable/identifier.

In [0]:
# 2 Type your answer here
"""
1. It shouldn't be a akeyword used in python
2. Must begin with a letter or '_'
3. Case sensitive

3.  Understand string and answer the following question.   
 1. Assign 2 string on two variable and perform concatenation.
 2. Assign a string in a variable and print the reverse of the string.
 3. Assign 'lower' to a variable and convert it to upper case.
 4. Assign 'school of ai' into a variable and split it into individual words
 5. Assign 'school of ai' into a variable and find the starting index  of word 'ai'

In [3]:
s1='Ice '
s2='crean'
sen=s1+s2
print(sen)

Ice crean

In [4]:
s3='stars'
rev=s3[-1]+s3[-2]+s3[-3]+s3[-4]+s3[-5]
print(rev)

srats

In [5]:
s4='lower'
s4.upper()

'LOWER'

In [6]:
s5='school of ai'
s5.split(' ')

['school', 'of', 'ai']

In [7]:
s6='school of ai'
s6.index('ai')

10

4.  Understand list and answer the following question.   
  1. Create a list with values 10,20,30,40 and find its length and sum
  2. Create a list with values 11,22,55. Pop the last element and store it in a variable called 'x'
  3. Create a list with values 10,20,40 and insert 30 in index 2.
  4. Create a list with values 'a','b','c' and remove 'b' from list
  5. Create a list with values 5,'a','b','c',1,5. select values from index 1 to 3 and store it in a variable called 'alpha_list' using slicing.

In [8]:
l1=[10,20,30,40]
print('length=',len(l1),'\nsum= ',sum(l1))

length= 4
sum=  100

In [9]:
l2=[11,22,55]
x=l2.pop(-1)
print('x=',x)

x= 55

In [10]:
l3=[10,20,40]
l3.insert(2,30)
l3

[10, 20, 30, 40]

In [11]:
l4=['a','b','c']
l4.remove('b')
l4

['a', 'c']

In [12]:
l5=[5,'a','b','c',1,5]
alpha_list=l5[1:4]
alpha_list

['a', 'b', 'c']

5.  Understand dictionary and answer the following question.   
  1. Create a dict with key '1' and value 'odd', key '2' and value 'even'
  2. Create a dict with key '1' and value 'odd', key '2' and value 'even' .Then replace 'even' of key 2 with 'EVEN'

In [13]:
value={1:'odd',2:'even'}
print(value[1])
print(value[2])

odd
even

In [14]:
dict1={1:'odd',2:'even'}
dict1[2]='EVEN'
print(dict1)

{1: 'odd', 2: 'EVEN'}